@charset "utf-8";
/* CSS Document */
h1 {
	text-align: center;
	font-family: "Arial Rounded MT Bold", sans-serif;
	font-size: 40px;
	color: Red;
	background-color: rgba(255,255,255,0.7);
	padding:10px 5px 10px 5px;
}
.menu {
	display: inline;
	float: left;
}

.links {
	display: block inline;
	color: white;
	padding:14px 16px;
	text-decoration: none;
}

.menubar{
	list-style-type: none;
	margin: 3;
	padding: 0;
	padding-top: 14px;
	padding-bottom: 14px;
	overflow: hidden;
	background-color: #333;
}

li a:hover {
	background-color: #111;
}

#id3 {
	background-color: #33cc33;
}

body {
	background-color: #0FF;
}
#id1 {
	text-align:center;
	font-family: Calibri, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 23px;
}

#id2 {
	text-align: center;
	font-family: Calibri, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 23px;
}
ul {
	text-align:center;
	font-size: medium;
	font-family: Calibri, sans-serif;
	font-size: 23px;
	list-style-image: url(../media/images/right-arrow2.png) ; 
}

li {
	padding: 0px 10px 0px 10px;
}
.fondo {
	background-color: rgba(255,255,255,0.7);
	padding:10px 5px 10px 5px;
}

.fondo a {
	text-decoration: none;
	color: Blue;
}